body{
    font-family: fraunces, Arial, Gerogia;
    font-size: 10px;
    background-color: #fef4ff;
    margin: 0;
    padding: 0;
}

/* Whole navbar container */
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 3.5rem;
  background-color: #ff66c4;
}

/* Logo image */
.logo {
  height: 40px;
  width: auto;
}

/* ONLY center the nav links */
.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}

/* Links inside nav */
.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 900;
}

.site-footer {
  background-color: #ff66c4; /* light blue */
  color: #ffffff;            /* white text */
  text-align: center;
  padding: 20px;}

.footer-favicon { /* This makes the Favicon be size adjusted before the copyright statement*/
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin-right: 6px;
}

.Contact_Sec h1 { /*centers header for section*/
    text-align: center;
    font-size: 35px;
}
.Contact_Sec h2 { /*centers header for section*/
    margin-left: 200px;
    font-size: 25px;


}
.Contact_LINKS{ /*Places section on left side over 200px*/
  margin-left: 200px;
  font-size: 12px;

}
/*------------------------------------ PAGE:EXPERIENCE ---------------------------------- */
.Experience-header-section {
    /*background-image: url(Pictures/cooltex.png);
    background-size: cover;
    background-position: center;
    */
    padding: 20px;
    text-align: center;
}

.page-name {
    color: #d20f64;
}

.Exp-Listed{
  text-align: center;
  background-color: #b4fff5;  
}
.Exp-Listed h2{
  font-family: 'Mina',fraunces, Arial, Gerogia;
}
.experience-divider {
    width: 70%;            /* Adjust as needed */
    border: none;
    border-top: .5px solid #000000;
}
.tools-results-row {
  display: flex;
  justify-content: space-between; /* or space-around / center */
  gap: 20px; /* Optional spacing between Tools and Results */
}

.tools-section,
.results-section {
  flex: 1; /* Makes both columns take equal space */
}


/*------------------------------------ PAGE:Projects ---------------------------------- */
.Projects-header-section{
  text-align: center;
  font-size: 16px;
}
.card{
  color: #fef4ff;
  padding: 2em;
  border: 1px solid rgb(75, 82, 92);
  border-radius: 10px;
  background-color: #222429;
  text-align: center;


}
.grid-container{
  display: grid;
  border: #ff66c4;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
}


/*------------------------------------ PAGE:ABOUT ---------------------------------- */
.p