body{
    background-color: #b8ddf8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #ff66c4;
    text-decoration: none;

}
.navbar a{
    color:#ffffff
}
.navbar a:visited {
  text-decoration: none;
}


.site-footer {
  background-color: #ff66c4; /* light blue */
  color: #ffffff;            /* white text */
  text-align: center;
  padding: 20px;}

.footer-favicon { /* This makes the Favicon be size adjusted before the copyright statement*/
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin-right: 6px;
}
